@tailwind base;
@tailwind components;
@tailwind utilities;


#help-input_1 {
  padding-top: 5px;
}

#zalZivnostiMultiStepPlugin > .formkit-outer > .formkit-wrapper {
  max-width: 100%;
}

[data-type="button"] .formkit-input {
  background: #0d9488 !important;
}

/* 
.multiselect-option {
    color: black !important;
}

.multiselect-tags-search {
    color: black;
}

#help-input_1 {
  padding-top: 5px;
}

.step {
    display: flex;
    align-items: center;
    padding: 16px 20px;
    background: gray;
    border-right: 1px solid var(--gray);
    color: white;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    border-radius: 6px;
}

[data-step-active="true"] {
    color: black;
    background: white !important;
    border-bottom: none;
    position: relative;
    border-radius: 6px;
}

.step--errors, [data-step-valid="true"]:after {
    content: '✓';
    background-color: #54A085;
    position: absolute;
    top: 4px;
    right: 4px;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    z-index: 10;
    display: flex;
    font-size: 10px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
}

.step--errors {
    background-color: #ff4949;
    color: #fff;
    z-index: 100;
}

.formkit-outer[data-type="submit"] .formkit-wrapper {
  display: flex;
} */

  /* Multi step form on mobile */
/* @media (max-width: 438px) {
    .steps {
      flex-direction: column;
    }
    .step {
      border-bottom: 1px solid var(--gray);
      border-right: none;
    }
    .step:last-child {
      border-bottom: none;
    }
    .form-body {
      padding: 1em;
    }
    .formkit-outer[data-type="submit"] .formkit-wrapper {
      padding: 0 1em 1em 1em;
      display: flex;
    }
    .formkit-form > .formkit-messages {
      padding: 0 1em 0em 1em;
    }
    .formkit-form > .formkit-messages:last-child {
      padding: 0 1em 1em 1em;
    }
} */

/* style for repeater  input */ 
/* [data-type="repeater"]>.formkit-fieldset {
  max-width: none;
  padding: 1.25em;
}

.formkit-fieldset {
  padding: 1.25em;
  border-radius: 3px;
  border: 1px solid #384a63;
}

.formkit-item {
  border: 1px solid #263344;
  border-radius: 0.25em;
  margin-bottom: 0.5em;
  display: flex;
}

.formkit-content {
  flex-grow: 1;
  padding: calc(0.25em * 3);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formkit-outer {
  margin: var(--fk-margin-outer);
}

.formkit-controls {
  position: relative;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: calc(0.25em * 3);
  background-color: #212d3b;
  border-radius: 0 var(--fk-border-radius-tr) var(--fk-border-radius-br) 0;
}

.formkit-controls>li {
  flex: 0 0 1.25em;
  margin: 0.5em 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formkit-controls>li>button:disabled {
  color: #3d536b;
  cursor: not-allowed;
} */